img{
	border: 1px solid black;
	max-width: 200px;
	max-height: 200px;
}
.box__dragndrop, .box__uploading, .box__success, .box__error {
  display: none;
}

.videosToTranslate{
	text-align: center;
}
.relatedVids{
	height: 350px;
	width: 600px;
	border: 1px solid black;
	float: left;
	margin: 10px;
}
.translations{
	height: 740px;
	width: 430px;
	border: 1px solid black;
	float: right;
	margin: 30px;
	right: 0px;
	top: 70px;
	position: absolute;
}