/* line 4, ../compass/sass/styles.scss */
img {
  border: 1px solid black;
  max-width: 200px;
  max-height: 200px;
}

/* line 9, ../compass/sass/styles.scss */
.box__dragndrop, .box__uploading, .box__success, .box__error {
  display: none;
}

/* line 13, ../compass/sass/styles.scss */
.videosToTranslate {
  text-align: center;
}

/* line 16, ../compass/sass/styles.scss */
.relatedVids {
  height: 350px;
  width: 600px;
  border: 1px solid black;
  float: left;
  margin: 10px;
}

/* line 23, ../compass/sass/styles.scss */
.translations {
  height: 740px;
  width: 430px;
  border: 1px solid black;
  float: right;
  margin: 30px;
  right: 0px;
  top: 70px;
  position: absolute;
}

/* line 34, ../compass/sass/styles.scss */
.cool-video-bar {
  width: 100%;
  height: 30px;
  background-color: grey;
}

/* line 41, ../compass/sass/styles.scss */
.redClass {
  border: 5px solid red;
}

/* line 45, ../compass/sass/styles.scss */
.greenClass {
  border: 5px solid green;
}

/* line 53, ../compass/sass/styles.scss */
.my-nav-bar {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #7AAF45;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* line 63, ../compass/sass/styles.scss */
.my-each-nav {
  display: inline-block;
  width: 20%;
  font-family: "Mouse Memoirs";
  font-size: 20px;
  letter-spacing: 1px;
}
/* line 69, ../compass/sass/styles.scss */
.my-each-nav a {
  color: white;
}

/* line 74, ../compass/sass/styles.scss */
body {
  background-color: #618D34;
  color: white;
}

/* line 79, ../compass/sass/styles.scss */
a {
  color: white;
}

/* line 84, ../compass/sass/styles.scss */
.video-incomplete {
  color: red;
}

/* line 88, ../compass/sass/styles.scss */
.each-video-row {
  height: 50px;
}
