
<div>
{{test}}
</div>
<div class="row">
	<div class="col-sm-4"><img src={{finishedVideo}}></div>
	<div class="col-sm-4"><img src={{finishedVideo}}></div>
	<div class="col-sm-4"><img src={{finishedVideo}}></div>
</div><hr/>
<div class="row">
	<div class="col-sm-4"><img src={{finishedVideo}}></div>
	<div class="col-sm-4"><img src={{finishedVideo}}></div>
	<div class="col-sm-4"><img src={{finishedVideo}}></div>
</div><hr/>
<div class="row">
	<div class="col-sm-4"><img src={{finishedVideo}}></div>
	<div class="col-sm-4"><img src={{finishedVideo}}></div>
	<div class="col-sm-4"><img src={{finishedVideo}}></div>
</div>