
<div class="container">
{{test}}

	<div class="row">
		<h2>Project 1 </h2>
		<div class="col-sm-4"><img src={{finishedVideo}}></div>
		<div class="col-sm-4"><img src={{finishedVideo}}></div>
		<div class="col-sm-4"><img src={{finishedVideo}}></div>
	</div><hr/>
	<div class="row">
		<h2>Project 2</h2>
		<div class="col-sm-4"><img src={{finishedVideo}}></div>
		<div class="col-sm-4"><img src={{finishedVideo}}></div>
		<div class="col-sm-4"><img src={{finishedVideo}}></div>
	</div><hr/>
	<div class="row">
		<h2>Project 3</h2>
		<div class="col-sm-4"><img src={{finishedVideo}}></div>
		<div class="col-sm-4"><img src={{finishedVideo}}></div>
		<div class="col-sm-4"><img src={{finishedVideo}}></div>
	</div>
</div>