
<div class="container">
	<h1 style="text-align:center">Look at your hardwork!</h1>
	<h3 style="text-align:center">Click on any video to view your magic.</h3>


<!-- User can click on box for any video and be redirected to the translation page -->
<div ng-repeat="video in videoData.data">
	<a ng-href='#/videoProduct/{{video.id}}'>Check It Out</a>
</div>


<!-- 
	<div class="row">
		<h2>Project 1 </h2>
		<div class="col-sm-4">
			<a href='#/videoProduct'>
			<img src={{finishedVideo}}>
			</a>
		</div>
		<div class="col-sm-4">
			<a href='#/videoProduct'>
			<img src={{finishedVideo}}>
			</a>
		</div>
		<div class="col-sm-4">
			<a href='#/videoProduct'>
			<img src={{finishedVideo}}>
			</a>
		</div>
	</div><hr/>
	<div class="row">
		<h2>Project 2</h2>
		<div class="col-sm-4">
			<a href='#/videoProduct'>
			<img src={{finishedVideo}}>
			</a>
		</div>
		<div class="col-sm-4">
			<a href='#/videoProduct'>
			<img src={{finishedVideo}}>
			</a>
		</div>
		<div class="col-sm-4">
			<a href='#/videoProduct'>
			<img src={{finishedVideo}}>
			</a>
		</div>
	</div>
	<hr/>
	<div class="row">
		<h2>Project 3</h2>
		<div class="col-sm-4">
			<a href='#/videoProduct'>
			<img src={{finishedVideo}}>
			</a>
		</div>
		<div class="col-sm-4">
			<a href='#/videoProduct'>
			<img src={{finishedVideo}}>
			</a>
		</div>
		<div class="col-sm-4">
			<a href='#/videoProduct'>
			<img src={{finishedVideo}}>
			</a>
		</div>
	</div> -->
<!-- </div> -->