
<!-- New Story Blue:
 rgb(29, 187, 216)  -->
<!-- <div style='position: absolute; left:0; top:50vh;'>
	<img style='width: 100vw;' width='1000px' src='images/houses.jpeg'/>
</div> -->
<!-- <div style='position: absolute; left:0; bottom:0;'>
	<img style='width: 100vw;' width='1000px' src='images/houses.jpeg'/>
</div> -->
<!-- <div class='container home-page' style="font-family: 'Avenir', 'sans-serif'; background-color:'white'"> -->

<!-- <div class='container-fluid home-page' style="font-family: 'Avenir', 'sans-serif'; background-color:'white'"> -->
	<!-- <div class="col-sm-12" id="ns" style="margin-top: 80px; margin-bottom: 100px"> -->
		<!-- <img src="/images/new-story-logo.png" style="border: none"/> -->
	<!-- </div> -->
<!-- 	<div style="color:rgb(29, 187, 216)">
		<h1 style="font-size:60px">Video Translation App</h1>
		<h3 style="color:black; margin-bottom: 50px">Group Video Sharing, Translating, and Annotating made easy</h3>
	</div> -->
	<!-- <div class="col-sm-12" style="border:1px solid darkgrey; height:2px; width:600px"></div> -->
	<!-- </div> -->
<!-- 	<div class="col-sm-4 col-sm-offset-2" style="text-align:center">
		<div class="col-sm-4 col-sm-offset-2">
		 NEED TO ADD UPLOAD POP-UP HERE TOO -->
			<!-- <a data-target='demoModal' modal><h3>Upload Videos</h3>
			<button type="button" class="btn btn-default btn-lg">
			  <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
			</button>
		</div></a> -->
		<!-- <div class="col-sm-6"> -->
			
 
<!-- </div> -->





<!-- upload video modal -->
        <div id="demoModal" class="modal" style='text-align: center;' ng-controller="uploadRawVideoController">
            <form ng-submit="submit()">
                <div>
                    <label for='' class="modalTitle">Upload video to translate</label>
                    <div>
                        <input ng-model='familyName' type='text' placeholder="Enter family or group name" style="width:300px; height:50px; font-size: 18px; color:black; margin-top:30px;"/>
                    </div>
                       <input type='file' id='file' class="chooseFileButton" style='max-height:18px;line-height:18px; margin-top:30px;'/>
                </div>
                    <button class="btn #00acc1 cyan darken-3" name="action" style="margin-top:30px;padding-top: 2px">Submit</button>
                <div class="failedUploadMessage">{{failedUpload}}</div>

            </form>
        </div>

<!-- upload video modal -->
    <div id="demoModal" class="modal" style='text-align: center;' ng-controller="loginController">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
		<form name="form" ng-submit="login()" role="form">
		    <div class="form-group">
		        <label for="username">Username</label>
		        <i class="fa fa-key"></i>
		        <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
		        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
		    </div>
		    <div class="form-group">
		        <label for="password">Password</label>
		        <i class="fa fa-lock"></i>
		        <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
		        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
		    </div>
		    <div class="form-actions">
		        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Login</button>
		        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
				 </div>
		</form>
    </div>




<!-- New Styles -->

<div class='home-wrapper'>

	
		<div class='left-top-header' style="color:rgb(29, 187, 216)">
			
			<!-- <div style="font-size:18px; margin-top: 10px; color:white">Group Video Sharing, Translating, and Annotating made easy</div> -->
		</div>
</div>
<!-- <div class='spin-this'> -->
<a href='https://www.newstorycharity.org/' target='_blank'><div class='home-corner-wrapper'></div></a>
<!-- </div> -->
<a href='https://www.newstorycharity.org/' target='_blank'><div id='ns'><img src="http://www.annasedlar.com/Story-Translate/frontend/images/new-story-logo.png" style="border: none;width:200px;"/></div></a>

<div class='upload-video-button' style="position:absolute">
	<a data-target='demoModal' modal>
		<div class='home-page-buttons'>Login</div>
	</a>
</div>

<div style="position:absolute; left:0; width:100%; text-align:center; top:40vh; font-size:45px; font-weight:900; margin-top: 20px; color:rgb(29, 187, 216); font-family: 'Montserrat'">Video Translation</div>

<div class='github-wrapper'>
	<a href="https://github.com/annasedlar/Story-Translate" style="color:black">
		<!-- <h3>Watch Demo</h3> -->
		<!-- <h5>Confused? See the code and a <br/>video walk-through on github</h5> -->
		<img src='http://www.annasedlar.com/Story-Translate/frontend/images/github-logo.png'/>
	</a>
</div>


<div class='videos-list-button'>
	<a href="#/videosToTranslate">
		<div class='home-page-buttons'>VIDEO LIST</div>
	</a>
</div>


<div class='upload-video-button'>
	<a data-target='demoModal' modal>
		<div class='home-page-buttons'>UPLOAD VIDEO</div>
	</a>
</div>

			<!-- <button type="button" class="btn btn-default btn-lg">
		  		<span class="glyphicon glyphicon-list" aria-hidden="true"></span> -->
			<!-- </button> -->
