<div class='container home-page'>
	This is the home page
	{{home}}
	<div>
		<h1 style="text-align:center">Welcome to Translatery</h1>
	</div>
	<a href="#/uploadRawVideo"><div class="col-sm-6" style="text-align:center">
		<h3>Get Started</h3>
		<h5>Begin by uploading a video needing translation</h5>
	</div></a>
	<a href="#/videosToTranslate"><div class="col-sm-6" style="text-align:center">
		<h3>Get Translating!</h3>
		<h5>See a library of videos awaiting translation</h5>
	</div></a>
	<a href="https://github.com/annasedlar/Story-Translate">

	<div class="col-sm-12" style="text-align:center">
		<h3>Watch a demo</h3>
		<h5>Confused? Check out how this app works!</h5>
		<p>(Links to github repo/demo)</p>
	</div></a>

</div>