<!-- <div class='container home-page'>
	{{home}}
	<div style="margin-bottom: 50px">
		<h1 style="text-align:center">Welcome to Translatery</h1>
	</div>
	<a href="#/uploadRawVideo"><div class="col-sm-4" style="text-align:center">
		<h3>Get Started</h3>
		<h5>Begin by uploading a video needing translation</h5>
	</div></a>
	<div class="col-sm-4">
		<img src="./video_button.png"/>
	</div>
	<a href="#/videosToTranslate"><div class="col-sm-4" style="text-align:center">
		<h3>Get Translating!</h3>
		<h5>See a library of videos awaiting translation</h5>
	</div></a>
	<a href="https://github.com/annasedlar/Story-Translate">

	<div class="col-sm-12" style="text-align:center; margin-top: 100px">
		<h3>Watch a demo</h3>
		<h5>Confused? Check out how this app works!</h5>
		<p>(Links to github repo/demo)</p>
	</div></a>

</div>
 -->
<!-- New Story Blue:
 rgb(29, 187, 216) -->

<div class='container home-page' style="font-family: 'Avenir', 'sans-serif'; background-color:'white'">
	<div class="col-sm-12" style="margin-top: 150px">
		<img src="/frontend/new-story-logo.png"/>
	</div>
	<div class="col-sm-6" style="background-color:rgb(29, 187, 216)">
		<h1 style="font-size:60px">New Story Translation App</h1>
		<h3>Group Video Sharing, Translating, and Annotating made easy</h3>
		<div class="row">
			<div class="col-sm-6">See Videos</div>
			<div class="col-sm-6">Upload Videos</div>
		</div>
	</div>
	<div class="col-sm-4 col-sm-offset-2">
		<a href="https://github.com/annasedlar/Story-Translate">
			<h3>Watch a demo</h3>
			<h5>Confused? Check out the code and a video walk-through on github to learn how this app works</h5>
		</a>
	</div>


	<!-- 
	<a href="#/uploadRawVideo"><div class="col-sm-6" style="text-align:center;">
		<h3>Get Started</h3>
		<h5>Begin by uploading a video needing translation</h5>
	</div></a>
	<a href="#/videosToTranslate"><div class="col-sm-6" style="text-align:center">
		<h3>Get Translating!</h3>
		<h5>See a library of videos awaiting translation</h5>
	</div></a>
 -->
<!-- 
	<a href="https://github.com/annasedlar/Story-Translate">

	<div class="col-sm-12" style="text-align:center; margin-top: 100px">
		<h3>Watch a demo</h3>
		<h5>Confused? Check out how this app works!</h5>
		<p>(Links to github repo/demo)</p>
	</div></a>
 -->

























