<div class='home-wrapper'>

    
        <div class='left-top-header' style="color:rgb(29, 187, 216)">
            
            <!-- <div style="font-size:18px; margin-top: 10px; color:white">Group Video Sharing, Translating, and Annotating made easy</div> -->
        </div>
</div>
<!-- <div class='spin-this'> -->
<a href='https://www.newstorycharity.org/' target='_blank'><div class='home-corner-wrapper'></div></a>
<!-- </div> -->
<a href='https://www.newstorycharity.org/' target='_blank'><div id='ns'><img src="/images/new-story-logo.png" style="border: none;width:200px;"/></div></a>

<div style="position:absolute; left:0; width:100%; text-align:center; top:40vh; font-size:45px; font-weight:900; margin-top: 20px; color:rgb(29, 77, 156); font-family: 'Montserrat'">Video Translation<div style="font-size: 28px">Login</div></div>

<div style="margin:auto; text-align:center; position: relative; margin-top: 60vh; z-index: 100; color:white;  height: 200px; width: 500px">
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <form name="form" ng-submit="login()" role="form">
        <div class="form-group">
            <label for="username">Username</label>
            <i class="fa fa-key"></i>
            <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
            <span ng-show="form.username.$pristine && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <i class="fa fa-lock"></i>
            <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Login</button>
            <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </div>
    </form>
</div>

<div class='github-wrapper'>
    <a href="https://github.com/annasedlar/Story-Translate" style="color:black">
        <!-- <h3>Watch Demo</h3> -->
        <!-- <h5>Confused? See the code and a <br/>video walk-through on github</h5> -->
        <img src='/images/github-logo.png'/>
    </a>
</div>