<div class="col-sm-6 translate-left-side-wrapper">
	<div class='family-wrapper'>
 	<div class='familyName'>{{familyName}}</div>
 	<form ng-submit='changeFamilyName()' class='inline-block'>
 		<input ng-model='tempFamilyName' type='text' class='familyInput' placeholder="Edit Family Name" />
 		<button class="btn-floating edit-family-button btn-small waves-effect waves-light red"><i class="material-icons">mode_edit</i></button>
 	</form>
	</div>

	<video ng-src="{{pleasWork}}" type="video/mp4" controls autoplay loop id="theVid" width="100%"/>


    <div>
		<button ng-click="startTimeFunc()" class="waves-effect waves-light btn">Set Start Time</button>
	    <button class="waves-effect waves-light btn" ng-click="endTimeFunc()">Set End Time</button> 
	    {{invalidRange}}
	    <div>&nbsp;</div>
	</div>   
	<!-- <div class='cool-video-bar'> -->
		<!-- <div class='start-end-range'></div> -->
	<!-- </div> -->
	<div style="overflow-y:scroll; margin-top:30px">
	    <form name="translation-form" id="translation-form" ng-submit="submitEachSection()">
		    <div class="new-sections">
			  <div>Start Time: {{startTime}}</div><div>End Time: {{endTime}}</div>
		        <TEXTAREA NAME="transcript" COLS=70 ROWS=5 ng-model="transcript"/>
		        <button ng-class="addButtonClass">{{editOrAddButton}}</button>
		      </div>
		    </div>
	   </form>
	</div>
</div>




<div class="col-sm-6 each-translation-box" style="background-color: black">


    <div class='translation-header' style="color:white">Translation Form:</div>
    <div class="each-transcription card-panel col-sm-12" ng-repeat='eachTranscript in entireTranscript'>

    <!-- 	<div>
    			Put this on the left side of each card??
			<i class="large material-icons" style="float:left;">label_outline</i>
		</div> -->
		<!-- <div style="text-align: center">{{eachTranscript.startTime}} ~ 	{{eachTranscript.endTime}} </div> -->
    	<!-- <div class="col-sm-6">
	        {{eachTranscript.postedTime}}
	    </div> -->
	    <!-- <div class='col-sm-12 each-actual-transcript' style="text-align:center;">{{eachTranscript.transcript}}</div>
	    <div> -->
	    	<!-- <div class="col-sm-12" style="text-align: right; padding-top: 20px;">{{eachTranscript.postedTime}}</div> -->
		    <!-- <button class="btn lime accent-2 buttonTextBlack1" ng-click="editTranscript($index)" style="float: right;">Edit</button>
		    <button class="buttonTextBlack btn #b71c1c red darken-4" ng-click="deleteTranscript($index)" style="float:right;margin-right:10px;">Delete</button>
		    <div>
		    	{{eachTranscript.postedTime}}
		    </div> -->
		 	<div class="col-sm-12">
		 		<div class="col-sm-4">{{eachTranscript.postedTime}}</div>
		 		<div class="col-sm-4" style="font-weight: bold">{{eachTranscript.startTime}} ~ {{eachTranscript.endTime}}</div> 
		 		<div class="col-sm-12 transcript-buttons" style="position:absolute;">
		 			<button class="buttonTextBlack1 btn yellow lighten-1 " ng-click="editTranscript($index)" style="float: right;">Edit</button>
		    		<button class="buttonTextBlack btn #b71c1c red lighten-1" ng-click="deleteTranscript($index)" style="float:right;margin-right:10px;">Delete</button>
		    	</div>
		 	</div>
		 	<div>
		 		{{eachTranscript.transcript}}
		 	</div>
	    </div>
    </div>



    <form ng-submit='saveForm()'>
    	<button style="margin-right:0" class="waves-effect waves-light btn" ng-click="saveForm()">Save Session</button>
    </form>
    <form ng-submit='submitForm()'>	
    	<button style="margin-right:0;" class="#00bfa5 teal darken-2 waves-effect btn" ng-click="submitForm()">Submit Transcript</button>
    </form>


 
</div>   

