<div class="container-fluid entireTranslateVideoWrapper">

	<div class="col-sm-6 translate-left-side-wrapper">
		<div class='family-wrapper'>
	 	<div class='familyName'>{{familyName}}</div>
	 	<form ng-submit='changeFamilyName()' class='inline-block'>
	 		<input ng-model='tempFamilyName' type='text' class='familyInput' placeholder="Edit Family Name" />
	 		<button class="btn-floating edit-family-button btn-small waves-effect waves-light red"><i class="material-icons">mode_edit</i></button>
	 	</form>
		</div>

		<video ng-src="{{pleasWork}}" type="video/mp4" controls autoplay loop id="theVid" width="100%"/>


	    <div>
			<button ng-click="startTimeFunc()" class="waves-effect waves-light btn">Set Start Time</button>
		    <button class="waves-effect waves-light btn" ng-click="endTimeFunc()">Set End Time</button> 
		    {{invalidRange}}
		</div>   
		<!-- <div class='cool-video-bar'> -->
			<!-- <div class='start-end-range'></div> -->
		<!-- </div> -->
		<div style="overflow-y:scroll; margin-top:30px">
		    <form name="translation-form" id="translation-form" ng-submit="submitEachSection()">
			    <div class="new-sections">
				  <div class="startTime">Start Time: {{startTime}}</div>
				  <br>
				  <div class="endTime">End Time: {{endTime}}</div>
				  	<div>&nbsp;</div>
			        <TEXTAREA NAME="transcript" COLS=70 ROWS=5 ng-model="transcript" class="textAreaInput"/>
			        <button ng-class="addButtonClass">{{editOrAddButton}}</button>
		
			    </div>
		   </form>
		</div>
	</div>



	<div class="col-sm-6 each-translation-box">
	    <div class='translation-header'>Translation Form</div>
	    <hr>
	    <div class="each-transcription card-panel col-sm-12" ng-repeat='eachTranscript in entireTranscript'>
		 	<div class="col-sm-12">
		 		<div class="col-sm-4">{{eachTranscript.postedTime}}</div>
		 		<div class="col-sm-4 timeRange">{{eachTranscript.startTime}} ~ {{eachTranscript.endTime}}</div> 
		 		<div class="col-sm-12 transcript-buttons">
		 			<button class="buttonTextBlack1 btn yellow lighten-1 " ng-click="editTranscript($index)" style="float: right;">Edit</button>
		    		<button class="buttonTextBlack btn #b71c1c red lighten-1" ng-click="deleteTranscript($index)" style="float:right;margin-right:10px;">Delete</button>
		    	</div>
		 	</div>
		 	<div>
		 		{{eachTranscript.transcript}}
		 	</div>
		</div>
		<form ng-submit='saveForm()' style='display:inline-block; '>
	    	<button style="margin-right: 0;" class="waves-effect waves-light btn" ng-click="saveForm()">Save Session</button>
	    </form>
	    <form ng-submit='submitForm()' style='display:inline-block; '>	
	    	<button style="margin-right:0;" class="#00bfa5 teal darken-2 waves-effect btn" ng-click="submitForm()">Submit Transcript</button>
	    </form>
	</div> 
	    
	</div>  
</div> 


