<div class="col-sm-6">
	<video src="../views/video20s.mp4" type='video/mp4' controls autoplay loop id="theVid" width='100%'>
    </video>
		<button class="btn btn-info" ng-click="startTimeFunc()">
            Set Start Time
        </button>
        <button class="btn btn-info" ng-click="endTimeFunc()">
            Set End Time
        </button>        
        <br/>Start Time: {{startTime}}
        <br/>End Time: {{endTime}}<br />
        <form name="translation-form" id="translation-form" ng-submit="submitEachSection()">
		  Enter Translations: 
            <TEXTAREA NAME="Address" ROWS=10 COLS=70 ng-model="transcript"/>
            <button class="btn btn-primary">Submit Transcript</button>
	   </form>
</div>

<div class="col-sm-6">
    <h1>Angular will populate this side with translations IRT</h1>
    <div ng-repeat='eachTranscript in entireTranscript'>
        Start:{{eachTranscript.startTime}} &nbsp;&nbsp; End:{{eachTranscript.endTime}}
        <br/>Transcript:{{eachTranscript.transcript}}
    </div>
</div>   
