<a href='/'><div class='go-home'><span class='glyphicon glyphicon-home'></span></div></a>
<div class="container-fluid entireProductVideoWrapper">
	<div class="col-sm-6 relatedVids">
		<div>{{familyName}}</div>
		<div class='video-wrapper'>
			<video id='productVideoPlaying' ng-src="{{productVideo}}" type="video/mp4" controls autoplay loop width="100%"/>
			<div class='current-transcript'>{{currentTranscript}}</div>
		</div>
		<br />
		<div class='related-videos-wrapper'>
			<div class='related-videos-header'>
				{{familyName}} Videos
			</div>
			<div ng-repeat='video in familyVideoHTML' class='product-inline'>

				<div>
					{{video.finished}}
				</div>
				<div ng-class='video.finishedClass'>
					<video ng-src="{{video.sce}}" class='each-related-video' width="100%" />
				
<!-- 				<a ng-href='{{video.editUrl}}'><button class='btn btn-success'>Edit</button></a>	
				<a ng-show='video.showOrNot' ng-href='{{video.selectUrl}}'><button class='btn btn-primary'>Select</button></a> -->
				<div class='editAndWatch'>
				<a class='product-edit' ng-href='{{video.editUrl}}'>Edit</a>
				<a class='product-watch' ng-href='{{video.video.selectUrl}}'>Watch</a>	
				<span class='product-incomplete'>Incomplete</span>
				</div>
				</div>
			</div>
		<div class='currentlyPlaying'>Currently <br/>Playing</div>
		</div>
	</div>


	<div class="col-sm-6 translations">
		<div>Transcript</div>
		<div class='transcript-wrapper'>
			<div ng-repeat='transcript in transcriptHTML' class='row'>
				<div class='col-sm-2'>
					{{transcript.startTime}} &nbsp; ~ &nbsp; 
					{{transcript.endTime}} &nbsp;&nbsp;
				</div>
				<div class='col-sm-10'>
					{{transcript.transcript}}
				</div>
			</div>
		</div>
	</div>	



</div>
