
<div>
This is the hello template 
</div>
<div class="row">
	<div class="col-sm-4"><img src={{videoToBeTranslated}}></div>
	<div class="col-sm-4"><img src={{videoToBeTranslated}}></div>
	<div class="col-sm-4"><img src={{videoToBeTranslated}}></div>
</div><hr/>
<div class="row">
	<div class="col-sm-4"><img src={{videoToBeTranslated}}></div>
	<div class="col-sm-4"><img src={{videoToBeTranslated}}></div>
	<div class="col-sm-4"><img src={{videoToBeTranslated}}></div>
</div><hr/>
<div class="row">
	<div class="col-sm-4"><img src={{videoToBeTranslated}}></div>
	<div class="col-sm-4"><img src={{videoToBeTranslated}}></div>
	<div class="col-sm-4"><img src={{videoToBeTranslated}}></div>
</div>