<!-- upload video modal -->
<div id="demoModal" class="modal" style='text-align: center' ng-controller="uploadRawVideoController">
    <form ng-submit="submit()">
        <div>
            <label for='' class="modalTitle">Upload video to translate</label>
            <div>
                <input ng-model='familyName' type='text' placeholder="Enter family or group name" style="width:300px; height:50px; font-size: 18px; color:black; margin-top:30px;"/>
            </div>
               <input type='file' id='file' class="chooseFileButton" style='max-height:18px;line-height:18px; margin-top:30px;'/>
        </div>
        <button class="btn #00acc1 cyan darken-3" name="action" style="margin-top:30px;padding-top: 2px">Submit</button>
        <div class="failedUploadMessage">{{failedUpload}}</div>
    </form>
</div>



<!-- header-->
<div class="grey-header">
	Watch Video With Translation!
	<div class="nav-button-container">	
		<a href='http://www.pauldkang.com/new_story/#/'><div class='nav-buttons'><span class='glyphicon glyphicon-home'></span></div></a>
		<a href='#/videosToTranslate'><div class='nav-buttons'><span class='glyphicon glyphicon-list-alt'></span></div></a>
		<a data-target='demoModal' modal><div class='nav-buttons' style="cursor:pointer"><span class='glyphicon glyphicon-cloud-upload'></span></div></a>
	</div>
</div>


<div class="container-fluid entireProductVideoWrapper">
	<div class="col-md-6 relatedVids">
		<div class="family-name-in-product-video">{{familyName}}</div>
		<div class='video-wrapper'>
			<video id='productVideoPlaying' ng-src="{{productVideo}}" type="video/mp4" controls width="100%"/>
			<div class='current-transcript'>{{currentTranscript}}</div>
		</div>
		<br />
		<div class='related-videos-wrapper'>
			<div class='related-videos-header'>{{familyName}} Videos</div>
			<div ng-repeat='video in familyVideoHTML' class='product-inline' ng-click="currentlyPlaying(video)">
				<div>{{video.finished}}</div>
				<div ng-class='video.finishedClass'>
					<video ng-src="{{video.sce}}" class='each-related-video' width="100%" />
					<div class='editAndWatch'>
						<a class='product-edit' ng-href='{{video.editUrl}}'>Edit</a>
						<a class='product-watch' ng-href='{{video.selectUrl}}'>Watch</a>
						<span class='product-incomplete'>Incomplete</span>
					</div>
				</div>
				<div ng-class="video.showCPorNot">Currently Playing</div>
			</div>
		</div>	
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 translations">
		<div class="final-translation-transcript">Completed Transcript</div>
	    <div class="row hidden-sm-down" style="font-size:14px; margin-bottom: 5px; margin-top:15px; height:20px">
	    	<div class="col-xs-4">Time Frame</div>
	    	<div class="col-xs-8">Translation</div>
	    </div>		
		<div class='transcript-wrapper'>
			<div ng-repeat='transcript in transcriptHTML' class='row each-product-transcript'>
				<div class='col-sm-2 col-md-4 col-lg-3'>
					{{transcript.startTimes}} -  
					{{transcript.endTimes}} &nbsp;&nbsp;
				</div>
				<div class='col-sm-10 col-md-8 col-lg-9'>
					{{transcript.transcript}}
				</div>
			</div>
		</div>
	</div>	
</div>

<div class='github-wrapper'>
	<a href="https://github.com/annasedlar/Story-Translate" style="color:black" target='_blank'>
		<img src='http://www.pauldkang.com/new_story/images/github-logo.png'/>
	</a>
</div>